@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&family=Playfair+Display:ital,wght@1,500&family=Roboto&family=Ubuntu:wght@300&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
    background-color: rgb(243, 248, 248);

}

.verCarrito{
    position: relative;
    text-align: right;
}

.verCarrito i {
    font-size: 28px;
}


#shopCont {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}


.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 2);
    max-width: fit-content;
    margin: 20px;
    padding: 20px;
    text-align: center;
    grid-template-columns: repeat(3, 1fr);
}

.comprar {
    width: fit-content;
    align-self: center;
}


#shopCont img {
    display: grid;
    margin: 20px;
    width: 300px;
    height: 300px;
    object-fit: cover;
}

.bagContainer{
    width: 80%;
    margin: 0 10%;
    max-height: 88vh;
    color: rgb(226, 234, 238);
    background-color: rgb(121, 214, 136);
    display: flex;
    flex-direction: column;
    align-items: center;

    position: fixed;
    overflow: auto;
    z-index: 9;
    top:12vh;
    scrollbar-color: none;
}

.bagContainer::-webkit-scrollbar{
    display: none;
}

.bag-Header{
    display: flex;
    justify-content: space-around;
    background-color: rgb(39, 194, 233);
    color: aliceblue;
    width: 100%;
}

.bagHeader-Header-title {
    justify-self: start;
}

.modal-header-button {
    cursor: pointer;
}

.bagContainer .bag-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    margin: 10px;
}

.bagContainer div img {
    height: 120px;
    width: 120px;
}

.total-content {
    font-size: 25px;
    padding: 20px;
    text-align: center;
    padding-top: 20px;
}

/* MENU */

#menu a {
    font-size: 18px;
    font-weight: bold;
    color: white;
}

#menu {
    background-color: rgb(133, 197, 240);


}

#menu button {
    font-size: 18px;
    font-weight: bold;
}

/* footer*/


#local {
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

#wrapper {
    padding: 80px;
}

#pago {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#newsletter {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

#section-contacto {
    padding: 50px; }

@media (max-width: 576px) {
    #banner {
        width: 100%;
    }

    .mapa {
        display: none;
    }
}

@media (min-width: 768px) {
    #local {
        flex-wrap: wrap;
        padding-top: 30px;
    }

    #section-contacto {
        max-width: 50%;
        margin: auto;
    }

    #wrapper {
        width: 90%;
        margin: auto;
        padding-top: 50px;
    }
}