@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&family=Playfair+Display:ital,wght@1,500&family=Roboto&family=Ubuntu:wght@300&display=swap');

body{
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
    
}

#shopCont {
display: flex;
justify-content:space-around;
flex-wrap: wrap;

}


.card{
    box-shadow: 0 4px 8px 0 rgba(0, 0,0,2);
    max-width: fit-content;
    margin: 20px;
    padding: 20px;
    text-align: center;
    grid-template-columns: repeat(3,1fr);
}

.comprar{
    width: fit-content;
    align-self: center;
}


#shopCont img{
    display: grid;
    margin: 20px;
    width: 300px;
    height: 300px;
    object-fit: cover;
}


/* MENU */

#menu a {
    font-size: 18px;
    font-weight: bold;
    color: white;
}
#menu {
    background-color:rgb(133, 197, 240);


}

#menu button{
    font-size: 18px;
    font-weight: bold;
}

#local{
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

#wrapper {
    padding: 80px; 
}

#pago {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }

